<div class="header__body">
  <div class="header__logo">
    <img src="/images/logo.jpg" alt="" />
  </div>
  <nav class="header__menu menu">
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/auto">Our Car Park</a></li>
      <li><a href="/auto/add">Add new Auto</a></li>
    </ul>
  </nav>
</div>
